{% extends 'base.html' %}

{% block content %}


<!-- <div class="col-md-6 offset-md-3"> -->
    

    {% if user.is_authenticated %}
    <h1>Tasks</h1>

    <div id = "priority" style="display: none;">
      <a href="{% url 'sorting' %}?sort=orderhigh" class="btn btn-secondary">High to Low</a> 
      <a href="{% url 'sorting' %}?sort=orderlow" class="btn btn-secondary">Low to High</a> 
      <a href="{% url 'sorting' %}?sort=onlylow" class="btn btn-secondary">Only Low</a>
      <a href="{% url 'sorting' %}?sort=onlymed" class="btn btn-secondary">Only Medium</a>
      <a href="{% url 'sorting' %}?sort=onlyhigh" class="btn btn-secondary">Only High</a>
    </div>


    <div id="status" style="display: none;">
      <a href="{% url 'sorting' %}?sort=ordertodo" class="btn btn-secondary">To-Do to Completed</a>
      <a href="{% url 'sorting' %}?sort=ordercomp" class="btn btn-secondary">Completed to To-Do</a>
      <a href="{% url 'sorting' %}?sort=onlytodo" class="btn btn-secondary">Only Todo</a>
      <a href="{% url 'sorting' %}?sort=onlyprog" class="btn btn-secondary">Only In Progress</a>
      <a href="{% url 'sorting' %}?sort=onlycomp" class="btn btn-secondary">Only Completed</a>
    </div>

    
    <div id="id" style="display: none;">
      <a href="{% url 'sorting' %}?sort=givenidh" class="btn btn-secondary">Order ID</a>
      <a href="{% url 'sorting' %}?sort=givenidl" class="btn btn-secondary">Reverse ID</a>
    </div>

    <div id="title" style="display: none;">
      <a href="{% url 'sorting' %}?sort=titleh" class="btn btn-secondary">Order Title</a>
      <a href="{% url 'sorting' %}?sort=titlel" class="btn btn-secondary">Reverse Title</a> 
    </div>
    
    <div id="created" style="display: none;">
      <a href="{% url 'sorting' %}?sort=createdh" class="btn btn-secondary">Order Date Created</a>
      <a href="{% url 'sorting' %}?sort=createdl" class="btn btn-secondary">Reverse Date Created</a>
    </div>

    <div id="duedate" style="display: none;">
      <a href="{% url 'sorting' %}?sort=dueh" class="btn btn-secondary">Order Due Date</a>
      <a href="{% url 'sorting' %}?sort=duel" class="btn btn-secondary">Reverse Due Date</a>
    </div>
   


<br>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="sortid()"><strong># ID</strong></a></th>
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="sorttitle()"><strong>Title</strong></a></th>
            <th scope="col" class="text-center align-middle">Description</th> 
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="priority()"><strong>Priority</strong></a></th>
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="status()"><strong>Status</strong></a></th>
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="created()"><strong>Created</strong></a></th>
            <th scope="col" class="text-center align-middle">Estimated Time</th>
            <th scope="col" class="text-center"><a class="btn btn-dark" onclick="duedate()"><strong>Due Date</strong></a></th>
          </tr>
          </thead>
          <tbody>
            {% if tasks %}
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.given_id }}</td>
                        <td><a href="{% url 'task' task.id %}">{{ task.task_title }}</a></td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>{{ task.est_time }}</td>
                        <td>{{ task.due_date }}</td>
              

                    </tr>

                {% endfor %}

            {% endif %}


          </tbody>
  </table>

  <script>
    let p = document.getElementById("priority");
    let s = document.getElementById("status");
    let t = document.getElementById("title");
    let i = document.getElementById("id");
    let c = document.getElementById("created");
    let d = document.getElementById("duedate");

    function priority(){
      if (p.style.display === "none") {
        p.style.display = "block";
        t.style.display = "none";
        i.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
        s.style.display = "none";

      } else {
         p.style.display = "none";
      }
    }

    function status(){

      if (s.style.display === "none") {
        s.style.display = "block";
        p.style.display = "none";
        t.style.display = "none";
        i.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
    

      } else {
        s.style.display = "none";
      }
    }
    function sorttitle(){
      if (t.style.display === "none") {
        t.style.display = "block";
        p.style.display = "none";
        i.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
        s.style.display = "none";
      } else {
        t.style.display = "none";
      }
    }

    function sortid(){

      if (i.style.display === "none") {
        i.style.display = "block";
        t.style.display = "none";
        p.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
        s.style.display = "none";

      } else {
        i.style.display = "none";
      }
    }
    function created(){

      if (c.style.display === "none") {
        c.style.display = "block";
        t.style.display = "none";
        i.style.display = "none";
        p.style.display = "none";
        d.style.display = "none";
        s.style.display = "none";

      } else {
        c.style.display = "none";
      }
    }
    function duedate(){

      if (d.style.display === "none") {
        d.style.display = "block";
        t.style.display = "none";
        i.style.display = "none";
        c.style.display = "none";
        p.style.display = "none";
        s.style.display = "none";

      } else {
        d.style.display = "none";
      }
    }


  </script>




    {% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            <!-- to not get hacked -->
            {% csrf_token %} 
    
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input name="username", type="text" class="form-control" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input name="password",  type="password" class="form-control"  required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <br>
              
    
    
        </form>
    
        
    </div>
    
<!-- </div> -->

{% endif %}


{% endblock content %}